{% extends 'base.html' %}

{% block head %}
<title> AlternaFind</title>
{% endblock %}

{% block body %}

<div class="content">
    <h2> AlternaFind</h2>
    <h3>Enter Medicine Name:</h3>

    <form action="/" method="POST">
        <input type="text" id="content" name="content">
        <input type="submit" value="Find">
    </form>
    <img src="https://thumbs.dreamstime.com/b/cartoon-pharmacy-building-exterior-isolated-white-background-cute-flat-drug-store-front-outside-view-open-sign-door-159030748.jpg">
</div>
{% endblock %}
